.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-weight: bold;
  height: 12px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 12px;
}

.snake {
  background: red;
}

.food {
  background: green;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}
